    .weathericon {
        display: block;
        position: absolute;
        top: -5px;
        left: 1.226993865%;
        z-index: 5;
        width: 60px;
        height: auto;
        overflow: hidden;
    }
    
    @media all and (min-width: 992px) {
        .evenmore {
            margin-left: 25px;
        }
    }
    
    .evenmore .special2 {
        text-align: left;
    }
    
    .tempwrap {
        font-family: 'Roboto Slab';
        color: #5a5a5a;
        margin-bottom: 5%;
    }
    
    .contactwrap {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #gblack {
        color: #337ab7;
        font-size: 23px;
    }
    
    @media (max-width: 767px) {
        .img-responsive.facpage {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
        }
        .portfolio-item {
            height: auto;
        }
    }
    
    @media all and (min-width: 768px) {
        .img-responsive.facpage {
            width: 320px;
            height: 182px;
        }
    }
    
    @media all and (min-width: 992px) {
        .img-responsive.facpage {
            width: 320px;
            height: 182px;
        }
        .portfolio-item {
            height: 350px;
        }
    }
    
    .thumbnail {
        position: relative;
    }
    
    .container a {
        font-family: 'Roboto Slab', sans-serif;
    }
    
    .portfolio-item h3 {
        font-family: 'Roboto Slab', sans-serif;
        color: #337ab7
    }
    
    .img-responsive.peng {
        width: 700px;
        height: 300px;
    }
    
    .img-responsive.pistes {
        width: 519px;
        height: 316px;
    }
    
    .caption {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
    }
    
    h2.special {
        color: #337ab7;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 2em;
        margin-top: 0px;
    }
    
    h2.special2 {
        color: #337ab7;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 1.4em;
    }
    
    .txtcolour {
        color: #337ab7;
        font-family: 'Roboto Slab', serif;
    }
    
    body {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        color: #5a5a5a;
        font-family: 'Roboto', sans-serif;
        /*background-color: rgba(223, 225, 247, 0.62);*/
    }
    
    .nottoday {
        background-color: #EDDBF4;
    }
    
    .nicer {
        margin-top: -5px;
        margin-bottom: 25px;
        padding: 25px 50px 35px;
        border: 1px solid #CCC;
        background: #F8F8F8;
    }
    
    .nicer p {
        font-size: 14px;
        font-weight: 200;
    }
    
    #Cairngorm-map-container {
        height: 400px;
    }
    
    #Glencoe-map-container {
        height: 400px;
    }
    
    #Glenshee-map-container {
        height: 400px
    }
    
    #nevis-map-container {
        height: 400px
    }
    
    #lecht-map-container {
        height: 400px
    }
    
    .map-outer {
        height: 100%;
        padding: 20px;
        border: 1px solid #CCC;
        margin-bottom: 20px;
        background-color: #F8F8F8;
    }
    
    hr.style-one {
        height: 1px;
        margin-top: 0px;
        width: 60%;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    
    hr.style-two {
        height: 1px;
        width: 30%;
        margin-top: 0px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    
    #special {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 200;
        float: right;
    }
    
    #thejumb {
        margin-top: 5px;
        border: 1px solid #CCC;
        background: #F8F8F8;
    }
    
    .footer {
        width: 100%;
        height: 100%;
    }
    
    @font-face {
        font-family: 'si';
        src: url('../fonts/socicon.eot');
        src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg#icomoonregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
            font-family: si;
            src: url(../fonts/socicon.svg) format(svg);
        }
    }
    
    .soc {
        margin: 10px auto;
        padding: 0;
        list-style: none;
    }
    
    .soc li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    
    .soc li a {
        font-family: si!important;
        font-style: normal;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -o-transition: .1s;
        -ms-transition: .1s;
        -moz-transition: .1s;
        -webkit-transition: .1s;
        transition: .1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        overflow: hidden;
        text-decoration: none;
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 27px;
        -webkit-border-radius: 85px;
        -moz-border-radius: 85px;
        border-radius: 85px;
        margin-right: 4px;
        color: #ffffff;
        background-color: none;
    }
    
    .soc a:hover {
        z-index: 2;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    
    .soc-icon-last {
        margin: 0 !important;
    }
    
    .soc-twitter {
        background-color: #4da7de;
    }
    
    .soc-twitter:before {
        content: 'a';
    }
    
    .soc-facebook {
        background-color: #3e5b98;
    }
    
    .soc-facebook:before {
        content: 'b';
    }
    
    .soc-google {
        background-color: #d93e2d;
    }
    
    .soc-google:before {
        content: 'c';
    }
    
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }
    
    .rslides img {
        height: 230px;
        width: 100%;
        max-height: 300px;
        max-width: 900px;
        display: block;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    
    .fright {
        float: right;
    }
    
    body #myCarousel {
        font-family: 'Roboto Slab';
        margin-bottom: 25px;
    }
    
    body #mybanner {
        font-family: 'Roboto Slab';
    }
    
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 1px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, .9);
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-brand {
        color: rgba(119, 119, 119, 1);
    }
    
    #custom-bootstrap-menu.navbar-default {
        font-size: 14px;
        background-color: rgba(248, 248, 248, 1);
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
        color: rgba(119, 119, 119, 1);
        background-color: rgba(248, 248, 248, 0);
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
        color: rgba(248, 248, 248, 1);
        background-color: rgba(51, 122, 183, 1);
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
        color: rgba(85, 85, 85, 1);
        background-color: rgba(231, 231, 231, 1);
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
        background-color: #ddd;
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #888;
    }
    
    .container .jumbotron,
    .container-fluid .jumbotron {
        border-radius: 2px;
    }
    /*roofles*/
    
    #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, .8);
    }
    
    #login-dp .help-block {
        font-size: 12px
    }
    
    #login-dp .bottom {
        background-color: rgba(255, 255, 255, .8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }
    
    #login-dp .social-buttons {
        margin: 12px 0
    }
    
    #login-dp .social-buttons a {
        width: 49%;
    }
    
    #login-dp .form-group {
        margin-bottom: 10px;
    }
    
    .btn-fb {
        color: #fff;
        background-color: #3b5998;
    }
    
    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc
    }
    
    .btn-tw {
        color: #fff;
        background-color: #55acee;
    }
    
    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }
    
    @media(max-width:768px) {
        #login-dp {
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
    }
    
    #custom-bootstrap-menu.navbar-default .navbar-nav.translation-links>li>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav.translation-links>li>a:focus {
        color: rgba(248, 248, 248, 1);
        background-color: rgba(255, 255, 255, 0);
    }
    
    .goog-te-banner-frame {
        display: none !important
    }
    
    body {
        top: 0px !important;
        position: static !important;
    }
    
    .langwrap {
        margin-top: -15px;
        padding: 0px;
        margin-left: -30px;
    }
    
    label {
        color: rgba(119, 119, 119, 1);
    }
    
    @media all and (min-width: 768px) {
        #testingsd {
            margin: 0px;
        }
    }
    
    .navbar-flag {
        margin: 11.5px -15px;
    }
    
    .navbar-flag > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    
    .flagnav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .flagnav > li {
        position: relative;
        display: inline;
    }
    
    .flagnav > li > a {
        position: relative;
        display: inline;
        padding: 2px 0px;
    }
    
    @media (min-width: 768px) {
        .flagbar-right {
            float: right !important;
            margin-right: 5px;
        }
        .flagbar-right ~ .flagbar-right {
            margin-right: 0;
        }
    }
